*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0 auto;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    /* font-size: 12px; */
   
}
.container{
    width: 100%;
    max-width: calc(1600px + 10%);
    padding: 0 5%;
    margin: 0 auto;
    min-width: 345px;
}
ul li{
    list-style-type: none;
}